@use '../../variables' as *;

.order {
  z-index: 2;
  background-color: $color-secondary;
  padding-bottom: 3rem;
  color: $color-tertiary;

  .main-section__title {
    transform: translateY(-6rem);
    cursor: pointer;
  }

  .cta-wrapper {
    transform: translateY(-50px);

    .btn {
      font-size: 2rem;
    }
  }

  .section-sep {
    top: -5.8rem;
  }

  * {
    color: inherit;
  }

  @include mobile {
    .section-sep {
      @include mobile {
        top: -3rem;
      }
    }

    .cta-wrapper {
      transform: translateY(-15px);
      
      .btn {
        font-size: 1.5rem;
      }
    }
  }
} 