@use '../../variables' as *;

.products {
  z-index: 1;
  position: relative;
  background-color: $color-tertiary;

  .cta-wrapper {
    margin-bottom: 3rem;
    margin-top: 2rem;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .main-section__title {
    transform: translateY(-6rem);

    a {
      text-decoration: none;
      color: initial;
  
      &:hover {
          text-decoration: none;
      }
    }
  }

  .product-wrapper {
    position: relative;
    margin-bottom: 1rem;
  }

  .figure-wrapper {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, hsla(50, 100%, 83%, 1) 0%, hsla(50, 88%, 53%, 1) 100%);
    height: 100%;

    .image-secondary {
      z-index: -1;
      position: absolute;
      width: 13rem;
      opacity: 0.8;
      overflow: hidden;
    }
  }

  .content-wrapper {  
    padding: 1.5rem;
  }

  .product-body {
    margin-bottom: 1rem;

    .price {
      font-weight: 600;
    }
  }

  .product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12rem;

    .product-caption {
      text-align: center;
    }

    img {
      height: 100%;
      width: auto;
    }
  }

  .product-variation {
    max-height: 21.5rem;
  }

  @include mobile {
    &.main-section {
      padding-bottom: 2rem;
    }

    .cta-wrapper {
      margin-bottom: 5rem;
    }

    .product-wrapper {
      padding: 1.125rem;
      margin-bottom: 0;
    }

    .product-image {
      height: 200px;
      margin-bottom: 2rem;
      margin-left: initial;
      margin: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .content-wrapper {
      text-align: left;
    }

    .product-caption {
      text-align: left;
    }

    .product-variation {
      ul {
        text-align: left;
        width: 100px;
        margin: auto;
      }
    }
  }
} 