@use '../../variables' as *;

#header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  > .container {
    position: relative;
    z-index: 100;
  }
  
  .nav-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .header-inner {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
