@use '../../variables' as *;

.flavours {
  z-index: 1;
  position: relative;
  padding: 2rem 0;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .main-section__title {
    transform: translateY(-6rem);
  }
} 