/* Open Sans Font Family */
@font-face {
  font-family: 'Merriweather Sans';
  src: url('./assets/fonts/MerriweatherSans-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'norwester.otf';
  src: url('./assets/fonts/norwester.otf') format('opentype');
  font-style: normal;
}
