$color-primary: #f1cc1b;
$color-secondary: #000000;
$color-tertiary: #ffffff;
$color-quaternary: #333;
$color-quinary: #666;
$color-senary: #999;
$color-septenary: #ddd;

// Element colors
$color-font: #333333;
$color-border: #e3e3e3;
